gym
atari-py
numpy
opencv-python
pfrl
scikit-learn
scipy>=1.13.0
seeding
threadpoolctl
torch
typing-extensions
matplotlib
dill
scikit-image
gin-config
pandas
pillow
pygame
captum
minigrid
moviepy
einops
tensorboard
sb3-contrib