gym
atari-py
numpy<2
opencv-python
pfrl
scikit-learn
scipy>=1.13.0
seeding
threadpoolctl
torch=2.2.2
typing-extensions
matplotlib
dill
scikit-image
gin-config
pandas
pillow
pygame
captum
minigrid
moviepy
einops
tensorboard
sb3-contrib